<div class="container">
  <div class = "row">
    <h3 class="text-center">Alexa GT Authificator</h3>
    
    <div class="col-md-4 col-md-offset-4">
      
      <div class="well">
         <%= form_tag('/show_tests', method: "get") do %>
          <div class="form-group">
            <%= label_tag(:username, "GT Username:") %>
            <%= text_field_tag(:username, '',class: 'form-control') %>
          </div>
          <div class="form-group">
            <%= label_tag(:password, "GT Password:") %>
            <%= password_field_tag(:password, '',class: 'form-control') %>
          </div>
           <%= submit_tag("Submit", class: 'btn btn-primary') %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>